In [3]:
import sqlite3
import pandas as pd

In [17]:
con = sqlite3.connect("data/us-wildfire.sqlite")
query = "SELECT * from fires LIMIT 100"
test_df = pd.read_sql_query(query, con)
test_df.head()
test_df.columns

Index(['OBJECTID', 'FOD_ID', 'FPA_ID', 'SOURCE_SYSTEM_TYPE', 'SOURCE_SYSTEM',
       'NWCG_REPORTING_AGENCY', 'NWCG_REPORTING_UNIT_ID',
       'NWCG_REPORTING_UNIT_NAME', 'SOURCE_REPORTING_UNIT',
       'SOURCE_REPORTING_UNIT_NAME', 'LOCAL_FIRE_REPORT_ID',
       'LOCAL_INCIDENT_ID', 'FIRE_CODE', 'FIRE_NAME',
       'ICS_209_INCIDENT_NUMBER', 'ICS_209_NAME', 'MTBS_ID', 'MTBS_FIRE_NAME',
       'COMPLEX_NAME', 'FIRE_YEAR', 'DISCOVERY_DATE', 'DISCOVERY_DOY',
       'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'STAT_CAUSE_DESCR', 'CONT_DATE',
       'CONT_DOY', 'CONT_TIME', 'FIRE_SIZE', 'FIRE_SIZE_CLASS', 'LATITUDE',
       'LONGITUDE', 'OWNER_CODE', 'OWNER_DESCR', 'STATE', 'COUNTY',
       'FIPS_CODE', 'FIPS_NAME', 'Shape'],
      dtype='object')

In [24]:
con = sqlite3.connect("data/us-wildfire.sqlite")
query = "SELECT FIRE_NAME, STATE, COUNTY, LATITUDE, LONGITUDE, FIRE_YEAR, DISCOVERY_DATE, CONT_DATE, FIRE_SIZE, FIRE_SIZE_CLASS, STAT_CAUSE_CODE, STAT_CAUSE_DESCR from fires"
us_wildfires_df = pd.read_sql_query(query, con)
us_wildfires_df.head()

,FIRE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_CODE,STAT_CAUSE_DESCR
0,FOUNTAIN,CA,63,40.036944,-121.005833,2005,2453403.5,2453403.5,0.10,A,9.0,Miscellaneous
1,PIGEON,CA,61,38.933056,-120.404444,2004,2453137.5,2453137.5,0.25,A,1.0,Lightning
2,SLACK,CA,17,38.984167,-120.735556,2004,2453156.5,2453156.5,0.10,A,5.0,Debris Burning
3,DEER,CA,3,38.559167,-119.913333,2004,2453184.5,2453189.5,0.10,A,1.0,Lightning
4,STEVENOT,CA,3,38.559167,-119.933056,2004,2453184.5,2453189.5,0.10,A,1.0,Lightning

In [25]:
us_wildfires_df["DISCOVERY_DATE"] = pd.to_datetime(us_wildfires_df["DISCOVERY_DATE"], unit = "D", origin = 'julian')
us_wildfires_df["CONT_DATE"] = pd.to_datetime(us_wildfires_df["CONT_DATE"], unit = "D", origin = 'julian')
us_wildfires_df.head()

,FIRE_NAME,STATE,COUNTY,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,CONT_DATE,FIRE_SIZE,FIRE_SIZE_CLASS,STAT_CAUSE_CODE,STAT_CAUSE_DESCR
0,FOUNTAIN,CA,63,40.036944,-121.005833,2005,2005-02-02,2005-02-02,0.10,A,9.0,Miscellaneous
1,PIGEON,CA,61,38.933056,-120.404444,2004,2004-05-12,2004-05-12,0.25,A,1.0,Lightning
2,SLACK,CA,17,38.984167,-120.735556,2004,2004-05-31,2004-05-31,0.10,A,5.0,Debris Burning
3,DEER,CA,3,38.559167,-119.913333,2004,2004-06-28,2004-07-03,0.10,A,1.0,Lightning
4,STEVENOT,CA,3,38.559167,-119.933056,2004,2004-06-28,2004-07-03,0.10,A,1.0,Lightning

In [35]:
us_wildfires_df["FIRE_YEAR"].value_counts()

2006    114004
2000     96416
2007     95573
2011     90552
1999     89363
2005     88604
2001     86587
2008     85378
2010     79889
2009     78325
1994     75955
2002     75656
1996     75574
2015     74491
2012     72769
1995     71472
2004     69279
1998     68370
2003     68261
1992     67975
2014     67753
2013     64780
1993     61989
1997     61450
Name: FIRE_YEAR, dtype: int64

In [34]:
us_wildfires_df["FIRE_SIZE_CLASS"].value_counts()

B    939376
A    666919
C    220077
D     28427
E     14107
F      7786
G      3773
Name: FIRE_SIZE_CLASS, dtype: int64

In [33]:
us_wildfires_df["STAT_CAUSE_DESCR"].value_counts()

Debris Burning       429028
Miscellaneous        323805
Arson                281455
Lightning            278468
Missing/Undefined    166723
Equipment Use        147612
Campfire              76139
Children              61167
Smoking               52869
Railroad              33455
Powerline             14448
Fireworks             11500
Structure              3796
Name: STAT_CAUSE_DESCR, dtype: int64

(A=greater than 0 but less than or equal to 0.25 acres, B=0.26-9.9 acres, C=10.0-99.9 acres, D=100-299 acres, E=300 to 999 acres, F=1000 to 4999 acres, and G=5000+ acres).

In [37]:
us_wildfires_df.to_csv("data/us-widlfires.csv", index = False)